* {
  padding: 0;
  margin: 0;
}

.firstpart {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../photo/bg1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 5%;
}

.firstpart .topics h1 {
  padding: 40px;
  font-family: "Sofadi One";
  font-size: 80px;
  color: rgb(6, 15, 0);
  font-weight: border;
}

.firstpart .topics h2, .firstpart .topics h3 {
  padding: 10px;
  text-align: center;
  font-family: "Sofadi One";
  font-weight: bolder;
  font-size: 50px;
  color: cadetblue;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 120px;
  height: 40px;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 16px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.1s;
}

.btn-box a:hover {
  color: #00abf0;
}

.mcontainer {
  display: flex;
  flex-direction: column;
}

.mcontainer .container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5%;
}

.mcontainer .container img {
  height: 30vh;
}

.mcontainer .container p {
  font-family: "Sofadi One";
  font-size: 20px;
}

.phone-imge {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  margin: auto;
  gap: 10px;
  width: 100%;
  height: auto;
}

.mobile-image {
  background-size: cover;
  width: 100%; 
  height: 50px; 
  margin: 5px; 
}

.phone-imge1 {
  display: none;
}

.footer {
  width: 100%;
  height: 30vh;
  background-image: url(../photo/bg1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* מדיה קוורי למסך של עד 300px */
@media (max-width: 300px) {
  .firstpart {
    height: auto; /* אפשר ריווח מותאם */
    gap: 2%; /* הפחתת ריווח */
  }

  .firstpart .topics h1 {
    padding: 20px;
    font-size: 40px; /* הפחתת גודל הפונט */
  }

  .firstpart .topics h2, .firstpart .topics h3 {
    font-size: 30px; /* הפחתת גודל הפונט */
  }

  .btn-box a {
    width: 100%; /* רוחב מלא */
    font-size: 14px; /* הפחתת גודל הפונט */
    padding: 5px; /* הפחתת ריווח */
  }

  .mcontainer {
    padding: 10px; /* הפחתת ריווח */
  }

  .mcontainer .container p {
    font-size: 16px; /* הפחתת גודל הפונט */
  }

  .phone-imge {
    width: 100%; /* רוחב מלא */
    height: auto; /* התאמת גובה */
  }

  .mobile-image {
    height: 40px; /* הפחתת גובה */
  }

  .footer {
    height: 20vh; /* הפחתת גובה */
  }
}
